.logo {
  font-weight: 300;
  font-style: italic;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $main-color;
  padding: 10px 0;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.items {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.contact-us {
  display: flex;
  gap: 32px;
  align-items: center;
}

.social-media-icon {
  width: 24px;
  height: 24px;
}
