<section>
  <div class="background">
    <div class="container">
      <div class="about-wrap-title">
        <h2 class="about-title-second">
          YOU HAVE
          <span class="pan-effect">a lot</span>
          GOING ON.
        </h2>
      </div>

      <div class="about-description">
        <div class="about-item">
          <img src="./images/rectangle.svg" alt="rectangle image" />
          <p class="text-about">about us</p>
        </div>
        <div>
          <h3 class="about-subtitle">Running a business means</h3>
          <h3 class="about-subtitle about-subtitle-second">
            wearing a lot of hats.
          </h3>
          <div class="description-text-wrapper">
            <div class="description-text">
              <p>
                Do you have a million ideas for growth, but don’t have the
                bandwidth to turn them into a reality?
              </p>
              <button class="button">
                <span class="button-text">contact us</span>
                <div class="arrow-wrapper">
                  <img
                    src="./images/arrow.svg"
                    alt="arrow icon"
                    class="arrow"
                  />
                </div>
                <span class="red-dot"> </span>
              </button>
            </div>
            <div class="description-text">
              <p>
                That’s where we come in. We want to create a strategic
                communication plan and save you time by executing it for you.
                You need to do what you do best: focus on the parts of your
                entrepreneurial journey that inspire you. Leave the rest to us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
