<section>
  <footer>
    <div class="background">
      <div class="container">
        <div class="contacts">
          <div class="contact_title-wrapper">
            <div class="contacts_item">
              <img src="./images/contact.svg" alt="rectangle image" />
              <p class="contacts_text">contacts</p>
            </div>
            <h3 class="contacts_title">
              LET’S WORK <span class="contacts_pan-effect">together</span>
            </h3>
            <button class="button">
              <span class="button-text">contact us</span>
              <div class="arrow-wrapper">
                <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
              </div>
              <span class="red-dot"> </span>
            </button>
          </div>
          <address class="contacts_address">
            <p class="contacts_address-texts">phone</p>
            <a href="123 456 7890" class="contacts_address-link"
              >123 456 7890</a
            >
            <p class="contacts_address-texts">email</p>
            <a
              href="mailto:HELLO@PIPI-POOPOO.COM"
              type="email"
              class="contacts_address-link"
              >HELLO@PIPI-POOPOO.COM</a
            >
            <p class="contacts_address-texts">OFFICE HOURS:</p>
            <p class="contacts_address-link">MONDAY - FRIDAY: 9AM - 5PM EST</p>
          </address>
        </div>

        <div class="copyrate">
          <p class="copyrate_text">PIPI-POOPOO® ©2022</p>
          <div class="copyrate_text-wrapper">
            <p class="copyrate_text">LinkedIn</p>
            <p class="copyrate_text">Instagram</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
