<section class="section">
  <header class="header">
    <p class="logo">pipi-poopoo</p>
    <nav>
      <ul class="nav-list">
        <li><a href="">About us</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Our work</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </nav>
    <div>
      <span class="social-media-icon"></span>
      <button class="button">
        <span class="button-text">let's chat </span>
        <div class="arrow-wrapper">
          <img src="./images/Icons.svg" alt="" class="arrow" />
        </div>
        <span class="red-dot"> </span>
      </button>
    </div>
  </header>
</section>
