<section class="section">
  <header class="header">
    <p class="logo">pipi-poopoo</p>
    <nav>
      <ul class="nav-list">
        <li class="items"><a href="">About us</a></li>
        <li class="items"><a href="">Services</a></li>
        <li class="items"><a href="">Our work</a></li>
        <li class="items"><a href="">Blog</a></li>
      </ul>
    </nav>
    <div class="contact-us">
      <a href="">
        <img src="./images/instagram.svg" alt="icon" class="social-media-icon"
      /></a>

      <button class="button">
        <span class="button-text">let's chat </span>
        <div class="arrow-wrapper">
          <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
        </div>
        <span class="red-dot"> </span>
      </button>
    </div>
  </header>
</section>
