<section class="section">
  <div class="hero">
    <div class="chat-wrapper">
      <p class="chat-text">a full-service design & marketing agency.</p>
      <button class="button">
        <span class="button-text">talk to an expert</span>
        <div class="arrow-wrapper">
          <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
        </div>
        <span class="red-dot"> </span>
      </button>
    </div>

    <div>
      <div class="title-wrapper">
        <p class="hero-title">Check</p>
        <p class="sub-title">
          Grow your business without adding more to your plate. You deserve
          support.
        </p>
      </div>
      <p class="hero-title">marketing</p>
      <p class="hero-title">off your list.</p>
    </div>
  </div>
</section>
