<section class="container">
  <div class="process">
    <div class="process_item">
      <img src="./images/star2.svg" alt="star image" class="process_item_img" />
      <p class="process_text">our process</p>
    </div>

    <ul class="process-cards">
      <!-- first card  -->
      <li class="process-card">
        <p class="process-card_number">01</p>

        <div class="texts-wrapper">
          <p class="process-card_subtitle">strategic PLANNING</p>
          <h3 class="process-card_title">
            Feeling overwhelmed, unsure where to begin, or indecisive about the
            next steps for your business?
          </h3>
          <div class="content-wrapper hide1">
            <div class="process-card-description-wrapper">
              <p class="process-card-description-wrapper_text">
                Deep breaths. Feeling overwhelmed, unsure where to begin, or
                indecisive about the next steps for your business? Deep breaths.
                We’ve got you covered. Our process kicks off with research and
                concept development. We want to take a learning deep-dive when
                it comes to your company's history, goals, and dreams for the
                future. Then, our team will design a branding concept to take
                your business to the next level–and then craft a mastermind plan
                to roll it out.
              </p>
              <button class="button">
                <span class="button-text">contact us</span>
                <div class="arrow-wrapper">
                  <img
                    src="./images/arrow.svg"
                    alt="arrow icon"
                    class="arrow"
                  />
                </div>
                <span class="red-dot"> </span>
              </button>
            </div>
          </div>
        </div>
        <div class="process-btn-wrapper">
          <button id="button1" class="process-btn">
            <span class="change-color"></span>
            <img src="./images/icon-dots.svg" alt="dot icon" class="svg-img" />
          </button>
        </div>
      </li>
      <!-- second -->
      <li class="process-card">
        <p class="process-card_number">02</p>

        <div class="texts-wrapper">
          <p class="process-card_subtitle">strategic PLANNING</p>
          <h3 class="process-card_title">
            Feeling overwhelmed, unsure where to begin, or indecisive about the
            next steps for your business?
          </h3>

          <div class="content-wrapper hide2">
            <div class="process-card-description-wrapper">
              <p class="process-card-description-wrapper_text">
                Deep breaths. Feeling overwhelmed, unsure where to begin, or
                indecisive about the next steps for your business? Deep breaths.
                We’ve got you covered. Our process kicks off with research and
                concept development. We want to take a learning deep-dive when
                it comes to your company's history, goals, and dreams for the
                future. Then, our team will design a branding concept to take
                your business to the next level–and then craft a mastermind plan
                to roll it out.
              </p>
              <button class="button">
                <span class="button-text">contact us</span>
                <div class="arrow-wrapper">
                  <img
                    src="./images/arrow.svg"
                    alt="arrow icon"
                    class="arrow"
                  />
                </div>
                <span class="red-dot"> </span>
              </button>
            </div>
          </div>
        </div>
        <div class="process-btn-wrapper">
          <button id="button2" class="process-btn">
            <span class="change-color"></span>
            <img src="./images/icon-dots.svg" alt="dot icon" class="svg-img" />
          </button>
        </div>
      </li>
      <!-- third -->
      <li class="process-card">
        <p class="process-card_number">03</p>

        <div class="texts-wrapper">
          <p class="process-card_subtitle">strategic PLANNING</p>
          <h3 class="process-card_title">
            Feeling overwhelmed, unsure where to begin, or indecisive about the
            next steps for your business?
          </h3>

          <div class="content-wrapper hide3">
            <div class="process-card-description-wrapper">
              <p class="process-card-description-wrapper_text">
                Deep breaths. Feeling overwhelmed, unsure where to begin, or
                indecisive about the next steps for your business? Deep breaths.
                We’ve got you covered. Our process kicks off with research and
                concept development. We want to take a learning deep-dive when
                it comes to your company's history, goals, and dreams for the
                future. Then, our team will design a branding concept to take
                your business to the next level–and then craft a mastermind plan
                to roll it out.
              </p>
              <button class="button">
                <span class="button-text">contact us</span>
                <div class="arrow-wrapper">
                  <img
                    src="./images/arrow.svg"
                    alt="arrow icon"
                    class="arrow"
                  />
                </div>
                <span class="red-dot"> </span>
              </button>
            </div>
          </div>
        </div>
        <div class="process-btn-wrapper">
          <button id="button3" class="process-btn">
            <span class="change-color"></span>
            <img src="./images/icon-dots.svg" alt="dot icon" class="svg-img" />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
