<section class="section">
  <div class="service-container">
    <div class="service-wrapper">
      <div class="service-image-wrapper">
        <div class="image-wrapper">
          <img src="./images/service.jpg" alt="service image" class="image" />
          <p class="website">website</p>
        </div>
        <div class="pop-up-text">
          <p class="">View</p>
          <p class="">Case</p>
        </div>

        <img src="./images/service-pop-up.png" alt="" class="pop-up-image" />
      </div>
    </div>

    <ul class="featured-list">
      <li class="featured-item">
        <img src="./images/star.svg" alt="star image" />
        <p class="text-featured">Featured Project</p>
      </li>
      <li class="featured-item">
        <p class="text-featured">Kate Eckstein Design</p>
      </li>
      <li class="featured-item">
        <p class="text-featured">Strategy, content, Design, development</p>
      </li>
    </ul>
  </div>
</section>
