<section class="container">
  <div class="work-example-first">
    <div class="work-example-first_first-card">
      <div class="work-example-first_image1-wrapper">
        <img
          src="./images/first-card-img1-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <p class="work-example-text">Strategy</p>
      <h4 class="work-example-subtitle">AER Media</h4>
    </div>
    <div class="work-example-first_second-card">
      <div class="work-example-item">
        <img
          src="./images/star.svg"
          alt="star icon"
          class="work-example-item_icon"
        />
        <p class="work-example-item_text">SELECTED WORK</p>
      </div>
      <h3 class="work-example-first-title">
        Sit nam egestas nullam nulla. Sed nisi arcu et blandit.
      </h3>
      <div class="work-example-first_second-card-wrapper">
        <div class="work-example-first_image2-wrapper">
          <img
            src="./images/first-card-img2-work.jpg"
            alt="girl"
            class="work-img"
          />
        </div>
        <div>
          <p class="work-example-text">Design</p>
          <h4 class="work-example-subtitle">Valerie Wheeler</h4>
        </div>
      </div>
    </div>
  </div>
  <div></div>
  <div></div>
</section>
