<section class="container">
  <div class="work-example-first">
    <div class="work-example-first_first-card">
      <div class="image-wrapper-work">
        <img
          src="./images/first-card-img1-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <p class="work-example-text">Strategy</p>
      <h4 class="work-example-subtitle">AER Media</h4>
    </div>
    <div class="work-example-first_second-card">
      <div class="work-example-item">
        <img
          src="./images/star.svg"
          alt="star icon"
          class="work-example-item_icon"
        />
        <p class="work-example-item_text">SELECTED WORK</p>
      </div>
      <h3 class="work-example-first-title">
        Sit nam egestas nullam nulla. Sed nisi arcu et blandit.
      </h3>
      <div class="work-example-first_second-card-wrapper">
        <div class="image-wrapper-work">
          <img
            src="./images/first-card-img2-work.jpg"
            alt="girl"
            class="work-img"
          />
        </div>
        <div>
          <p class="work-example-text">Design</p>
          <h4 class="work-example-subtitle">Valerie Wheeler</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="work-example-second">
    <div class="work-example-second_first-card">
      <div class="image-wrapper-work">
        <img
          src="./images/second-card-img1-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <p class="work-example-text">Strategy</p>
      <h4 class="work-example-subtitle">Luneer MGMT</h4>
    </div>
    <div class="work-example-second_second-card">
      <div class="image-wrapper-work">
        <img
          src="./images/second-card-img2-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <div>
        <p class="work-example-text">content</p>
        <h4 class="work-example-subtitle">Social Blue Print</h4>
      </div>
    </div>
  </div>

  <div class="work-example-third">
    <div class="work-example-third_first-card">
      <div>
        <div class="image-wrapper-work">
          <img
            src="./images/third-card-img1-work.jpeg"
            alt="girl"
            class="work-img"
          />
        </div>
        <p class="work-example-text">Strategy</p>
        <h4 class="work-example-subtitle">Luneer MGMT</h4>
      </div>
      <div>
        <p class="work-example-third_text">
          Facilisis gravida pharetra, risus vel in. Mauris in lacus condimentum
          feugiat.
        </p>

        <button class="button">
          <span class="button-text">view More work</span>
          <div class="arrow-wrapper">
            <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
          </div>
          <span class="red-dot"> </span>
        </button>
      </div>
    </div>

    <div class="work-example-third_second-card">
      <div class="image-wrapper-work">
        <img
          src="./images/third-card-img2-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <div>
        <p class="work-example-text">content</p>
        <h4 class="work-example-subtitle">Social Blue Print</h4>
      </div>
    </div>

    <div class="work-example-third_third-card">
      <div class="image-wrapper-work">
        <img
          src="./images/third-card-img3-work.jpeg"
          alt="girl"
          class="work-img"
        />
      </div>
      <div>
        <p class="work-example-text">content</p>
        <h4 class="work-example-subtitle">Social Blue Print</h4>
      </div>
    </div>
  </div>
</section>
