<section>
  <div class="container">
    <div class="work-wrap-title">
      <img src="./images/dot.svg" alt="dot image" class="work-wrap-title_img" />
      <p class="work-wrap-title_title">home work</p>
    </div>
    <div>
      <h2 class="main-title">
        YOUR BUSINESS NEEDS a strategic PLAN,
        <span class="pan-effect-work">creative</span>
        EXECUTION, & steady SUPPORT TO GROW.
      </h2>
    </div>
  </div>
  <div class="background-image"></div>

  <div class="container">
    <div class="cards-work-wrapper">
      <div class="card-work-item">
        <p>Our 1-day design services</p>
        <h3>I need a visual revamp asap</h3>
        <img src="./images/card1-img1.jpeg" alt="" />
        <img src="./images/card1-img2.jpeg" alt="" />
        <button class="button">
          <span class="button-text">contact us</span>
          <div class="arrow-wrapper">
            <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
          </div>
          <span class="red-dot"> </span>
        </button>
      </div>
      <div class="card-work-item">
        <p>Our 1-day design services</p>
        <h3>I need a visual revamp asap</h3>
        <img src="./images/card1-img1.jpeg" alt="" />
        <img src="./images/card1-img2.jpeg" alt="" />
        <button class="button">
          <span class="button-text">contact us</span>
          <div class="arrow-wrapper">
            <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
          </div>
          <span class="red-dot"> </span>
        </button>
      </div>

      <div class="card-work-item">
        <p>Our 1-day design services</p>
        <h3>I need a visual revamp asap</h3>
        <img src="./images/card1-img1.jpeg" alt="" />
        <img src="./images/card1-img2.jpeg" alt="" />
        <button class="button">
          <span class="button-text">contact us</span>
          <div class="arrow-wrapper">
            <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
          </div>
          <span class="red-dot"> </span>
        </button>
      </div>
    </div>
  </div>
</section>
