<section>
  <div class="container">
    <div class="work-wrap-title" id="work">
      <img src="./images/dot.svg" alt="dot image" class="work-wrap-title_img" />
      <p class="work-wrap-title_title">home work</p>
    </div>
    <div>
      <h2 class="main-title">
        YOUR BUSINESS NEEDS a strategic PLAN,
        <span class="pan-effect-work">creative</span>
        EXECUTION, & steady SUPPORT TO GROW.
      </h2>
    </div>
  </div>
  <div class="background-image"></div>
  <div class="work-cards-background">
    <div class="container">
      <div class="cards-work-wrapper">
        <!-- first-card -->
        <div class="card-work-item">
          <p class="card-work-item_text">Our 1-day design services</p>
          <h3 class="card-work-item_title">I need a visual revamp asap</h3>
          <div class="card-work-item_image-wrapper">
            <img
              src="./images/card-img2.jpeg"
              alt=""
              class="card-work-item_image rotate-left"
            />
            <img
              src="./images/card-img3.jpeg"
              alt=""
              class="card-work-item_image smaller"
            />
          </div>
          <button class="button">
            <span class="button-text">contact us</span>
            <div class="arrow-wrapper">
              <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
            </div>
            <span class="red-dot"> </span>
          </button>
        </div>
        <!-- second-card -->
        <div class="card-work-item">
          <p class="card-work-item_text">Our retainer services</p>
          <h3 class="card-work-item_title">
            I need an external marketing team
          </h3>
          <div class="card-work-item_image-wrapper">
            <img
              src="./images/card-img3.jpeg"
              alt=""
              class="card-work-item_image rotate-left"
            />
            <img
              src="./images/card-img1.jpeg"
              alt=""
              class="card-work-item_image smaller"
            />
          </div>
          <button class="button">
            <span class="button-text">contact us</span>
            <div class="arrow-wrapper">
              <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
            </div>
            <span class="red-dot"> </span>
          </button>
        </div>
        <!-- third-card -->
        <div class="card-work-item">
          <p class="card-work-item_text">Let’s work together</p>
          <h3 class="card-work-item_title">
            I Need to increase online presence
          </h3>
          <div class="card-work-item_image-wrapper">
            <img
              src="./images/card-img1.jpeg"
              alt=""
              class="card-work-item_image rotate-left"
            />
            <img
              src="./images/card-img4.jpeg"
              alt=""
              class="card-work-item_image smaller"
            />
          </div>
          <button class="button">
            <span class="button-text">contact us</span>
            <div class="arrow-wrapper">
              <img src="./images/arrow.svg" alt="arrow icon" class="arrow" />
            </div>
            <span class="red-dot"> </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
